<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
<!--    <script src="/public/js/main.js"></script>-->
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>


            <main>
                <% if (prods.length > 0) { %>
                    <table style="width:100%" id="myTable">
                        <tr>
                            <th>S.No</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>quantity</th>
                            <th>Action</th>
                        </tr>
                    <div class="grid">
                        <% for (let [index,product] of prods.entries()) { %>
                        <tr id="<%= index %>">
                        <td><%= index %> </td>     
                      <td><%= product.title %> </td>     
                        <td><%= product.price %></td>
                        <td><%= product.cartitem.quantity %></td>
                        <td><button type="button" id="<%= product.id %>" onclick="deleteItem('<%= product.id %>')">Delete</td>
                    </tr>            
                            <% } %>
                    </div>
                   </table>  
                    <% } else { %>
                        <h1>Cart is Empty!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>